$color--black: #000;
$color--white: #fff;

body {
  background-color: $color--white;
  color: $color--black;

  h1{
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
  }
}